@font-face {
  font-family: "IRANSans";
  src: url("../fonts/iransans/iransans.woff2") format("woff2"),
    url("../fonts/iransans/iransans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/firacode/FiraCode-Regular.woff2") format("woff2"),
    url("../fonts/firacode/FiraCode-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "IRANSans", system-ui, -apple-system, sans-serif;
}

code,
pre {
  font-family: "Fira Code", "Courier New", monospace;
  font-variant-ligatures: normal;
  font-feature-settings: "liga" 1, "calt" 1;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.dark ::-webkit-scrollbar-track {
  background: #1e293b;
}

.dark ::-webkit-scrollbar-thumb {
  background: #475569;
}
